nav ul, nav li {
	display: inline;
}

header nav {
	float: right;
}

header {
	position: fixed;
	width: 100%;
	z-index: 20;
}

.header-elements {
	margin: 0px auto; 
	width: 1200px;
}

body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
}

header nav {
	padding: 35px 0px;
}

nav a:link, nav a:visited {
	margin-right: 50px;
	color: #545454;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: #9200fc;
}

.btn {
	border-radius: 50px;
	background-color: #bd79ec;
	padding: 15px 25px;
	color: #fff !important;
	font-weight: 400 !important;
}

.btn:hover {
	background-color: #5a9109 !important;
}

.bg-img {
	width: 100%;
	height: 100vh;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}